/* .custom-select__indicator-separator {
    display: none;
}; */
/* .custom-select__indicator.custom-select__dropdown-indicator {
    padding: 0;
}
.custom-select__indicator.custom-select__dropdown-indicator.css-1hb7zxy-IndicatorsContainer {
    padding: 0;
    width: 32;
    height: 32px;
}

.custom-select__indicators.css-1hb7zxy-IndicatorsContainer {
    padding: 0;
} */

